<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="icon" href="~/images/favicon-cloud.ico" />
    <link rel="stylesheet" href="~/css/vendors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flatpickr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-pro.min.css" asp-append-version="true" />

</head>
<body style="height:100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="far fa-cat"></i> Cats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/")">Home<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown float-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Content("~/Home/Logout")"><i class="far fa-unlock"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <div class="container-fluid" style="height:calc(100% - 140px)">
        @RenderBody()
    </div>

    <script>
        __site_root = "@Context.Request.Scheme://@Context.Request.Host@Context.Request.PathBase";
    </script>
    @RenderSection("Modals", false);
    <script src="~/js/vendors.js" asp-append-version="true"></script>
    <script src="~/js/flatpickr.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
